.navContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.navLink {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: gray;
}

.navLink:active {
  color: gray;
}

.navLink:not(:last-child) {
  border-right: 2px solid black;
  padding-right: 30px;
}